<div>
    <h1>BIENVENID@ {{response2.firstName}}</h1>
    {{#each response.docs}}
        <hr>
            <li>Nombre Producto: {{this.title}}</li>
            <li>Precio: {{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
            <button method="POST PUT" onclick="agregarAlCarrito('{{this._id}}','{{this.title}}','{{this.price}}')">AGREGAR PRODUCTO AL CARRITO</button>
        </hr>
    {{/each}}
    <div>
        <button><a href="{{response.prevLink}}"> PREV PAGE</a></button>
        <button><a href="{{response.nextLink}}"> NEXT PAGE</a></button>
        <button method="DELETE" onclick="cerrarSession()">CERRAR SESSION</button>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>